<div *ngIf="demande">
  <div *ngFor="let notice of notices; let i = index;" [ngClass]="{'app-mb': i}">
    <div *ngIf="!notice.hidden">
      <md-toolbar>
        <span>{{notice.title}}</span>
        <span class="spacer"></span>
        <md-icon (click)="onRefreshClick(i)" color=primary mdTooltip="Rafraichir">autorenew</md-icon>
        <span class="app-mr">{{notice.count}}</span>
        <md-icon *ngIf="!notice.collapsed" (click)="notice.collapsed = true" mdTooltip="Masquer" color=primary>keyboard_arrow_down</md-icon>
        <md-icon *ngIf="notice.collapsed" (click)="notice.collapsed = false" mdTooltip="Afficher" color=primary>keyboard_arrow_right</md-icon>
      </md-toolbar>
      <md-card *ngIf="!notice.collapsed">
        <ngx-datatable class="material" [rows]="notice.rows" [columns]="notice.columns" [columnMode]="'force'" [reorderable]=true
          [loadingIndicator]="notice.loadingIndicator" [messages]="notice.messages" [headerHeight]="40" [rowHeight]="45">
        </ngx-datatable>
        <md-card-actions *ngIf="notice.position" fxLayout="column" fxLayoutAlign="space-around center">
          <button md-raised-button (click)="getNotices(i)">Plus de résultats</button>
        </md-card-actions>
      </md-card>
    </div>
  </div>
</div>

<ng-template #nnaTpl let-row="row" let-value="value">
  <a href="{{appService?.conf?.baseUrlNotice}}/{{row.arkNNA}}" target="_blank">{{value}}</a>
</ng-template>

<ng-template #isniTpl let-row="row" let-value="value">
  <md-icon class="isniCheck">check</md-icon>
</ng-template>

<ng-template #actionTpl let-row="row" let-value="value" let-row="row">
  <md-icon color=primary (click)="onAssocierNnaClick(row)">link</md-icon>
</ng-template>