<div class="route">
  <div class=route-title>Contact</div>
  <md-card>
    <md-card-title>Romain MONSTERLET</md-card-title>
    <md-card-content fxLayout="column" fxLayoutAlign="space-between start">
      <p>romain.monsterlet@gmail.com</p>
      <div>
        <a class="fb-button" md-raised-button target="_blank" href="https://www.facebook.com/romain.monsterlet">Facebook</a>
        <a md-raised-button target="_blank" href="https://github.com/rmonsterlet">GitHub</a>
      </div>
    </md-card-content>
  </md-card>
</div>