@import './_variables.scss';
@import '~@angular/material/theming';

@import '~@swimlane/ngx-datatable/release/assets/icons.css';
@import './_ngx-datatable-material-override.css';

@include mat-core();

$app-primary: mat-palette($mat-blue, A200);
$app-accent:  mat-palette($mat-orange, A200);
$app-warn:    mat-palette($mat-red, 600);

$bnf-app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);
@include angular-material-theme($bnf-app-theme);

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(/assets/fonts/material/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(/assets/fonts/material/MaterialIcons-Regular.woff2) format('woff2'),
       url(/assets/fonts/material/MaterialIcons-Regular.woff) format('woff'),
       url(/assets/fonts/material/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.mat-list-item-content{
    overflow: visible;
}