<header>
  <nav role="navigation">
    <md-toolbar class="app-toolbar" color="primary">
      <h1><a routerLink="/home" routerLinkActive="active">{{title}}</a></h1>
      <div class="spacer"></div>
      <md-menu #mainMenu="mdMenu">
        <button md-menu-item routerLink="/contact">Contact</button>
      </md-menu>
      <button md-button [md-menu-trigger-for]="mainMenu">
        <md-icon >account_circle</md-icon>
        <span>{{username}}</span>
      </button>
    </md-toolbar>
  </nav>
</header>

<main role="main">
  <router-outlet></router-outlet>
</main>

<footer class="app-footer-action">
  <button color="primary" (click)="up()" md-fab><md-icon>arrow_upward</md-icon></button>
</footer>