<div fxLayout="row" fxLayoutAlign="center" class="route-title">
  <div fxLayout="column" fxLayoutAlign="space-around center">
    <md-icon class="app-icon" color="primary">tag_faces</md-icon>
    <div>Welcome home. You monster.</div>
    <div>Cette page vient juste de naitre... </div>
    <div>Semaine pro il y aura du contenu.</div>
    <div>En attendant. Keep calm & <strong>vote Stanchon</strong> !</div>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/VprwgoVdBAE" frameborder="0" allowfullscreen></iframe>
  </div>
</div>