<div fxLayout="row" fxLayoutAlign="center" class="route-title">
  <div fxLayout="column" fxLayoutAlign="space-around center">
    <md-icon class="app-icon" color="primary">tag_faces</md-icon>
    <div>Welcome home. You monster.</div>
    <div>Le dimanche 23 Avril prochain, <strong>votez Stanchon</strong>!</div>
    <div>Indécis ? Par ici :</div>
    <a md-raised-button class="app-mt" href="https://jlm2017.fr/category/actualites/pas-de-question-sans-reponse/">#JLMDesintox</a>
    <div>Insoumis, prend un second bulletin Stanchon dans ta poche lors du 1er tour</div>
    <div>Il nous servira de vote protestataire au 2nd tour, dans l'éventualité où il ne resterait plus que des têtes d'enclumes</div>
    <iframe class="app-mt" width="300" src="https://www.youtube.com/embed/l4cWSSUO3IY" frameborder="0" allowfullscreen></iframe>
    <iframe class="app-mt" width="300" src="https://www.youtube.com/embed/VprwgoVdBAE" frameborder="0" allowfullscreen></iframe>
  </div>
</div>
